:root {
    --azul: #1A73E8;
    --cinza-claro: #F1F3F4;
    --cinza-escuro: #202124;
    --amarelo: #FFB400;
  }
.welcome {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.welcome h1 {
    margin-top: 0;
    color: #002d72;
}

.content {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 1.2s ease-in-out;
}

.courses {
    display: flex;
    flex-wrap: wrap;
}

.course {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    flex: 1 1 calc(33.333% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.course h3 {
    margin-top: 0;
    color: #002d72;
}

.course img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.course a {
    display: inline-block;
    margin-top: 15px;
    color: #002d72;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e0ebff;
    transition: background-color 0.3s ease;
}

.course a:hover {
    background-color: #c2d6ff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
