.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    font-family: Arial;
}
.questao {
    margin-bottom: 20px;
}
button {
    background-color: #28a745;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
hr {
    margin-top: 15px;
}
textarea {
    width: 100%;
    padding: 10px;
}
