/*Estilo Geral*/
:root {
    --azul: #1A73E8;
    --cinza-claro: #F1F3F4;
    --cinza-escuro: #202124;
    --amarelo: #FFB400;
}

.container-main{
    display: flex;
    justify-content: space-between;
}

.card-image img{
    margin-left: 5rem;
    width: 500px;
    height: 500px;
}

/* Container principal */
.container-card {
    display: flex; /* Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%; /* Largura total */
    margin-top: 2rem; /* Margem superior */
}

/* Cartão de cadastro */
.card {
    background-color: transparent; /* Fundo branco semitransparente */
    padding: 30px; /* Espaçamento interno */
    border-radius: 4%; /* Bordas arredondadas */
    box-shadow: 3px 3px 1px 0px #00000060; /* Sombra */
    width: 100%; /* Largura fixa */
}

/* Estilo para o título */
h1 {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Margem inferior */
    color: var(--azul); /* Cor do texto */
}

 /* Estilo para parágrafos */
 p {
    color: var(--azul); /* Cor do texto */
    font-size: 14pt; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
}

.signup-button {
    margin-top: 1.2rem;
}
 
 /* Estilo para links */
 .card a {
     color: var(--cinza-escuro); /* Cor do texto */
     font-weight: bold; /* Texto em negrito */
     text-decoration: none; /* Remove sublinhado */
     transition: all .3s ease-out; /* Transição suave */
 }

 /* Estilo para links quando o mouse está sobre eles */
 a:hover {
     color: var(--amarelo); /* Cor do texto */
 }

/* Estilo para os inputs dentro do label-float */
.label-float input {
    width: 100%; /* Largura total */
    padding: 5px 5px; /* Espaçamento interno */
    display: inline-block; /* Exibição em linha */
    border: 0; /* Remove borda */
    border-bottom: 2px solid var(--azul); /* Borda inferior */
    background-color: transparent; /* Fundo transparente */
    outline: none; /* Remove outline */
    min-width: 180px; /* Largura mínima */
    font-size: 16px; /* Tamanho da fonte */
    transition: all .3s ease-out; /* Transição suave */
    border-radius: 0; /* Remove bordas arredondadas */
}

/* Container para os inputs e labels flutuantes */
.label-float {
    position: relative; /* Posicionamento relativo */
    padding-top: 13px; /* Espaçamento superior */
    margin-top: 5%; /* Margem superior */
    margin-bottom: 5%; /* Margem inferior */
}

/* Estilo para os inputs focados */
.label-float input:focus {
    border-bottom: 2px solid var(--azul); /* Borda inferior quando focado */
}

/* Remove pointer-events só dos labels flutuantes que não são checkbox */
.label-float:not(.checkbox) label {
    pointer-events: none;
}

/* Outros estilos para label permanecem */
.label-float label {
    color: var(--cinza-escuro);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float-checkbox{
    display: flex;
    align-items: center;
}

.label-float-checkbox input{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

/* Estilo para labels quando o input está focado ou preenchido */
.label-float input:focus + label,
.label-float input:valid + label {
    font-size: 13px; /* Tamanho da fonte */
    margin-top: 0; /* Remove margem superior */
    color: var(--azul); /* Cor do texto */
}

/* Adiciona tratamento para tipo date */
.label-float input[type="date"]:focus + label,
.label-float input[type="date"]:valid + label {
    font-size: 13px;
    margin-top: 0px;
    color: var(--azul);
}

/* Garante que o label não fique sobreposto ao dd/mm/aaaa no início */
.label-float input[type="date"] + label {
    margin-top: -5px; /* sobe um pouquinho o label */
}

.label-float input[type="date"] {
    color: var(--cinza-escuro);
}


/* Estilo para o botão de submit */
button {
    background-color: transparent; /* Fundo transparente */
    border-color: var(--azul); /* Cor da borda */
    color: var(--azul); /* Cor do texto */
    padding: 7px; /* Espaçamento interno */
    font-weight: bold; /* Texto em negrito */
    font-size: 12pt; /* Tamanho da fonte */
    margin-top: 20px; /* Margem superior */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    outline: none; /* Remove outline */
    transition: all .4s ease-out; /* Transição suave */
}

/* Estilo para o botão de submit quando o mouse está sobre ele */
button:hover {
    background-color: var(--azul); /* Fundo azul */
    color: var(--cinza-claro); /* Cor do texto */
}

/* Container para centralizar conteúdo */
.justify-center {
    display: flex; /* Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Estilo para mensagens de erro */
#msgError {
    text-align: center; /* Centraliza o texto */
    color: #ff0000; /* Cor do texto */
    background-color: #ffbbbb; /* Fundo */
    padding: 10px; /* Espaçamento interno */
    border-radius: 4px; /* Bordas arredondadas */
    display: none; /* Esconde por padrão */
}

/* Estilo para mensagens de sucesso */
#msgSuccess {
    text-align: center; /* Centraliza o texto */
    color: #00bb00; /* Cor do texto */
    background-color: #bbffbe; /* Fundo */
    padding: 10px; /* Espaçamento interno */
    border-radius: 4px; /* Bordas arredondadas */
    display: none; /* Esconde por padrão */
}

.mostrar-senha {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    color: var(--azul);
}

.label-float {
    position: relative;
}

.forca-senha {
    font-size: 0.9em;
    margin-top: 4px;
}

.fraca {
    color: red;
}

.media {
    color: orange;
}

.forte {
    color: green;
}